<div class="container">
  <h1>Diana's Pinterest
  <img src="https://vignette.wikia.nocookie.net/youtubepedia/images/9/9e/Pinterest.png/revision/latest?cb=20171119184225&path-prefix=es"
       style="width:50px"></h1>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Bienvenidos a mi Pinterest</h1>
    <p class="lead">Aquí podrás ver contenido de tipo gráfico de diversos temas</p>
    </p>
  </div>
</div>

<div class="container">
  <br>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1>¿Qué es este proyecto?</h1><br>
      </div>
      <p>  Este Pinterest es un proyecto creado con Ruby and Rails, para la materia de "Desarroloo de Aplicaciones Web" unidad
        II "Arquitectura de la Información", impartidad por el Maestro  Anastacio Rodríguez García, dentro del porgrama educativo
        de Licenciatura en Ingeniería en Tecnologías de la información y Comunicación.
      </p>
    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h1> Ruby <small><br> Historia </small></h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1200px-Ruby_logo.svg.png",  style="width:100px" class="img-responsive">
      </div>
      <p>  Ruby es un lenguaje de programación interpretado, reflexivo y orientado a objetos, creado por el programador japonés
        Yukihiro "Matz" Matsumoto, quien comenzó a trabajar en Ruby en 1993, y lo presentó públicamente en 1995. Combina una
        sintaxis inspirada en Python y Perl con características de programación orientada a objetos similares a Smalltalk.
        Comparte también funcionalidad con otros lenguajes de programación como Lisp, Lua, Dylan y CLU. Ruby es un lenguaje
        de programación interpretado en una sola pasada y su implementación oficial es distribuida bajo una licencia de software
        libre.
      </p>
    </div>
      <div class="col-md-4">
        <div class="page-header">
          <h1> Rails<small><br> Historia </small></h1>
          <img src="https://www.danielcastanera.com/wp-content/uploads/2017/05/CDMbA57p.png",  style="width:100px" class="img-responsive">
        </div>
        <p> También conocido como RoR o Rails, es un framework de aplicaciones web de código abierto escrito en el lenguaje de
          programación Ruby, siguiendo el paradigma del patrón Modelo Vista Controlador (MVC). Trata de combinar la simplicidad
          con la posibilidad de desarrollar aplicaciones del mundo real escribiendo menos código que con otros frameworks y con
          un mínimo de configuración. El lenguaje de programación Ruby permite la metaprogramación, de la cual Rails hace uso,
          lo que resulta en una sintaxis que muchos de sus usuarios encuentran muy legible. Rails se distribuye a través de
          RubyGems, que es el formato oficial de paquete y canal de distribución de bibliotecas y aplicaciones Ruby.
        </p>
      </div>
    </div>
  </div>